<!DOCTYPE html>
<html lang="en" ng-app="myModule">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Angular JS</title>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>
<body ng-controller="indexController">
  <div class="container">

    <header>
      <!-- <h2> {{title}} </h2> -->
      <h2 ng-bind="title"> </h2>
    </header>
  
    <main>
      <div class="row">
        <input type="text" ng-model="search_student.name" placeholder="Filtrar por nome">
      </div>

      <div class="row">
        <table class="striped">
          <thead>
            <tr>
              <th> Nome </th>
              <th> E-mail </th>
              <th> 1ª Nota </th>
              <th> 2ª Nota </th>
              <th> 3ª Nota </th>
              <th> Média </th>
              <th> Ação </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="student in students | filter:search_student">
              <td> {{student.name}} </td>
              <td> {{student.email}} </td>
              <td> {{student.note_1}} </td>
              <td> {{student.note_2}} </td>
              <td> {{student.note_3}} </td>
              <td> {{student.average}} </td>
              <td> 
                <button class="btn blue" ng-click="editStudent(student)"> Editar </button> 
                <button class="btn red" ng-click="deleteStudent(student)"> Excluir </button> 
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row">
        <!-- Modal Trigger -->
        <a ng-click="openAddStudent()" class="waves-effect waves-light btn" href="#modal1"> Adicionar </a>
      </div>
    </main>

    <!-- Modal Structure -->
    <div id="modal1" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4 ng-if="!isEditing"> Adicionar aluno </h4>
        <h4 ng-if="isEditing"> Editar aluno </h4>
        <p> Preencha os dados do aluno </p>
        <div class="row">
          <div class="input-field col m6 s12">
            <input type="text" class="validate" placeholder="Nome" ng-model="student.name">
          </div>
          <div class="input-field col m6 s6">
            <input type="text" class="validate" placeholder="E-mail" ng-model="student.email">
          </div>
          <div class="input-field col m4 s12">
            <input type="text" class="validate" placeholder="Primeira nota" ng-model="student.note_1">
          </div>
          <div class="input-field col m4 s12">
            <input type="text" class="validate" placeholder="Segunda nota" ng-model="student.note_2">
          </div>
          <div class="input-field col m4 s12">
            <input type="text" class="validate" placeholder="Terceira nota" ng-model="student.note_3">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
        <a ng-if="!isEditing" class="waves-effect waves-light btn" ng-click="addStudent(student)"> Adicionar </a>
        <a ng-if="isEditing" class="waves-effect waves-light btn" ng-click="saveStudent(student)"> Salvar </a>
      </div>
    </div>

  </div>
  
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <!-- Angular JavaScript -->
  <script src="lib/angular/angular.min.js"></script>

  <script type="text/javascript">

    angular.module("myModule",[])
    .controller("indexController", ($scope)=>{
      $scope.title    = "Application With Angular JS";
      $scope.students = [
        { name:"João", email:"joao@mail.com", note_1:7.0, note_2:8.5, note_3:6.5 },
        { name:"Ana", email:"ana@mail.com", note_1:9.0, note_2:7.0, note_3:8.0 },
        { name:"Mateus", email:"mateus@mail.com", note_1:5.0, note_2:5.5, note_3:10 },
        { name:"Aline", email:"aline@mail.com", note_1:10, note_2:8.5, note_3:9.5 },
        { name:"Bruna", email:"bruna@mail.com", note_1:9.5, note_2:9.5, note_3:8.5 }
      ];

      // Método para inicializar calculo de médias no carregamento da app, melhorando performance
      const init = ()=>{
        $scope.students.forEach((student)=>{
          student.average =  average(student);
        });

        cleanForm(); 
      };

      // Método local para calculo de média
      const average = (student)=>{
        let average = (parseFloat(student.note_1) + parseFloat(student.note_2) + parseFloat(student.note_3)) /3;
        return average.toFixed(2);
      }

      $scope.openAddStudent = ()=>{
        cleanForm(); 
        $scope.isEditing = false;
        $('#modal1').modal('open');
      }

      $scope.addStudent = (student)=>{
        student.average = average(student);
        $scope.students.push(student);

        $('#modal1').modal('close');
        
        cleanForm(); 
      }

      $scope.isEditing = false;
      var editStudentTemp;

      $scope.editStudent = (student)=>{
        $scope.isEditing = true;

        angular.copy(student, $scope.student);

        $('#modal1').modal('open');
        editStudentTemp = student;
      }

      $scope.saveStudent = (student)=>{
        editStudentTemp.name    = student.name;
        editStudentTemp.email   = student.email;
        editStudentTemp.note_1  = student.note_1;
        editStudentTemp.note_2  = student.note_2;
        editStudentTemp.note_3  = student.note_3;
        editStudentTemp.average = average(student);

        $('#modal1').modal('close');
      }

      $scope.deleteStudent = (student)=>{
        
        for (let index in $scope.students) {
          let currentStudent = $scope.students[index];
          if (student === currentStudent) {
            $scope.students.splice(index, 1);
          }
        }

      }

      const cleanForm = ()=>{
        $scope.student = { name:"", email:"", note_1:"", note_2:"", note_3:"" };
      }

      init();

    });

  </script>

  <script type="text/javascript">
    $(document).ready(function(){
      // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
      $('.modal').modal();
    });
  </script>
</body>
</html>