<!-- <div ng-include="'templates/_nav.html'"></div> -->
<main class="container">
  <h2>{{title}}</h2>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Nullam mollis lacinia hendrerit. Aliquam et hendrerit urna, 
    in luctus dolor. Vivamus lorem leo, dapibus ac sem id, 
    ultricies posuere nulla. Duis elit elit, porttitor nec 
    lacus molestie, tincidunt ultrices ante. Cras id tempor leo, 
    nec aliquet nibh. Nullam scelerisque nec elit ac molestie. 
    Sed diam sapien, hendrerit vel dui ac, volutpat hendrerit diam. 
    Praesent non odio ornare, cursus mauris nec, mollis urna. 
    Suspendisse non rhoncus diam.
  </p>

</main>
