<!-- <div ng-include="'templates/_nav.html'"></div> -->
<main class="container">
  <h2>{{title}}</h2>

  <br>

  <div class="row">
    <div class="col s10">
      <input type="text" ng-model="search_student.name" placeholder="Filtrar por nome">
    </div>
    <div class="col s2" style="text-align: right !important;">
      <!-- Modal Trigger -->
      <a ng-click="openAddStudent()" class="waves-effect waves-light btn" title="Adicionar"> <i class="large material-icons">add</i> </a>
    </div>
    
  </div>

  <div class="row">
    <table class="striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>E-mail</th>
          <th>1ª Nota</th>
          <th>2ª Nota</th>
          <th>3ª Nota</th>
          <th>Média</th>
          <th width="19%;">Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="student in students | filter:search_student">
          <td> {{student.name}} </td>
          <td> {{student.email}} </td>
          <td> {{student.note_1}} </td>
          <td> {{student.note_2}} </td>
          <td> {{student.note_3}} </td>
          <td> {{student.average}} </td>
          <td> 
            
            <button class="waves-effect waves-light btn blue " ng-click="editStudent(student)" title="Editar"> <i class="small material-icons">edit</i> </button> 
            <button class="waves-effect waves-light btn red " ng-click="deleteStudent(student)" title="Remover"> <i class="small material-icons ">delete</i> </button> 
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 ng-if="!isEditing"> Adicionar aluno </h4>
    <h4 ng-if="isEditing"> Editar aluno </h4>
    <p> Preencha os dados do aluno </p>
    <div class="row">
      <div class="input-field col m6 s12">
        <input type="text" class="validate" placeholder="Nome" ng-model="student.name">
      </div>
      <div class="input-field col m6 s6">
        <input type="text" class="validate" placeholder="E-mail" ng-model="student.email">
      </div>
      <div class="input-field col m4 s12">
        <input type="text" class="validate" placeholder="Primeira nota" ng-model="student.note_1">
      </div>
      <div class="input-field col m4 s12">
        <input type="text" class="validate" placeholder="Segunda nota" ng-model="student.note_2">
      </div>
      <div class="input-field col m4 s12">
        <input type="text" class="validate" placeholder="Terceira nota" ng-model="student.note_3">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a ng-if="!isEditing" class="waves-effect waves-light btn" ng-click="addStudent(student)"> Adicionar </a>
    <a ng-if="isEditing" class="waves-effect waves-light btn" ng-click="saveStudent(student)"> Salvar </a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
  </div>
</div>